:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #757575;
  --heading-txt-cl: #212121;
  --dark-txt-cl: #000000;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --active-txt-cl: #188ce8;
  --ft-txt-cl: rgba(255, 255, 255, 0.6);
  --ph-txt-cl: rgba(117, 117, 117, 0.5);
  --phft-txt-cl: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --bg-cl: #ffffff;
  --section-bg-cl: #f5f4fa;
  --accent-bg-cl: #2f303a;
  --card-bg-cl: rgba(33, 150, 243, 0.9);
  --desk-bg-cl: rgba(47, 48, 58, 0.8);
  --grey-bg-cl: rgba(255, 255, 255, 0.1);
  --modal-bg-cl: rgba(0, 0, 0, 0.2);

  /* Button colors */
  --accent-bt-cl: #2196f3;
  --active-bt-cl: #188ce8;
  --light-bt-cl: #ffffff;

  /* Line colors */
  --line-cl: #ececec;
  --border-ln-cl: #eeeeee;
  --border-card-cl: #afb1b8;

  /* Others */
}

body {
  margin: 0;

  color: var(--main-txt-cl);
  background-color: var(--bg-cl);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* reset */

.link,
.contact-nav-link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/**
  |============================
  | Header
  |============================
*/

.page-header {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  border-bottom: 1px solid var(--line-cl);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  /* outline: 2px solid turquoise;
  outline-offset: -2px; */
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Логотип  */

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--dark-txt-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent-cl {
  color: var(--accent-txt-cl);
}

/* Меню  */

.site-nav {
  display: flex;
  color: var(--heading-txt-cl);
}

.site-item {
  position: relative;
}

.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link,
.contact-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;

  color: var(--heading-txt-cl);
  font-family: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contact-nav-link:hover,
.contact-nav-link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}

.current {
  color: var(--accent-txt-cl);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: relative;
  top: 95%;
  right: 0;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-bt-cl);
  border-radius: 2px;
}

/* Контакти */

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav-link {
  display: flex;
  align-items: center;

  color: var(--main-txt-cl);
}

.contact-link .site-nav-link:active {
  color: var(--active-txt-cl);
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--accent-txt-cl);

  cursor: pointer;
}

.contact-icon {
  margin-right: 10px;
  align-items: center;

  fill: currentColor;
}

/**
  |============================
  | Hero
  |============================
*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--accent-bg-cl);
  text-align: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* outline: 2px solid turquoise; */
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  justify-content: center;

  color: var(--light-txt-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  padding: 9px 31px;
  margin-left: auto;
  margin-right: auto;
  min-width: 214px;

  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: 1px solid transparent;
  /* bg */
  background: var(--accent-bt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-bt-cl);
  cursor: pointer;
}

/**
  |============================
  | Features
  |============================
*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title,
.work-title,
.team-title,
.portfolio-title,
.client-title {
  margin-bottom: 50px;

  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-cl);
}

.features-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

/**
  |============================
  | Work
  |============================
*/

.work-section {
  padding-top: 0;
}

.work {
  display: flex;
  align-items: center;
  gap: 30px;
}

.work-thumb {
  position: relative;
}

.work-txt {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--light-txt-cl);
  background-color: var(--desk-bg-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/**
  |============================
  | Team
  |============================
*/

.team-section {
  background-color: var(--section-bg-cl);
}

.team {
  display: flex;
  gap: 30px;
}

.team-list {
  background: var(--bg-cl);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitle {
  margin-bottom: 10px;

  color: var(--heading-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-txt {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

/* socials */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--border-card-cl);
  background-color: var(--light-bt-cl);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--light-bt-cl);
  background-color: var(--accent-bt-cl);

  cursor: pointer;
}

.social-icon {
  fill: currentColor;
}

/**
  |============================
  | Clients
  |============================
*/
.clients {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--border-card-cl);
  border: 1px solid var(--border-card-cl);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-bt-cl);
  border: 1px solid var(--accent-bt-cl);

  cursor: pointer;
}

/**
  |============================
  | Portfolio filters 
  |============================
*/

.portfolio-filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.portfolio-filters .item + .item {
  margin-left: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;

  color: var(--heading-txt-cl);
  background: var(--section-bg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  /* padding: 6px 25px; */
  color: var(--light-txt-cl);
  background: var(--accent-bt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | Portfolio gallery
  |============================
*/

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list {
  display: block;
  width: 370px;
  height: 404px;

  background: var(--bg-cl);
}

.gallery-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list a:hover .product,
.gallery-list a:focus .product {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-card {
  position: relative;
  overflow: hidden;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;

  color: var(--bg-cl);
  background-color: var(--card-bg-cl);
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.gallery-link:hover .gallery-overlay,
.gallery-link:focus .gallery-overlay {
  transform: translateY(0);
  opacity: 1;
}

.gallery-card-desc {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid var(--border-ln-cl);
  border-bottom: 1px solid var(--border-ln-cl);
  border-left: 1px solid var(--border-ln-cl);
}

.portfolio-subtitle {
  margin-bottom: 4px;

  color: var(--heading-txt-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.gallery-list:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-spec {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;

  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
  flex-grow: 1;
}

.logo-footer {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.logo-ft-cl {
  color: var(--light-txt-cl);
}

.address {
  color: var(--ft-txt-cl);
  font-style: normal;
  line-height: calc(24 / 14);
}

.address .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}

.address .item + .item {
  margin-top: 9px;
}

.map {
  color: var(--light-txt-cl);
}

/* social footer */

.socials-footer {
  margin-right: 93px;
}

.socials-footer,
.subscription {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

.socials-subtt-ft,
.subscription-subtt {
  margin-bottom: 20px;
  align-items: baseline;
  align-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.socials-fl-list {
  justify-content: start;
  align-items: flex-start;
}
.social-link-ft {
  color: var(--border-card-cl);
  background-color: var(--light-bt-cl);
  border-radius: 50%;
}

.social-ft {
  color: var(--light-bt-cl);
  background-color: var(--grey-bg-cl);
  border-radius: 50%;
}

/* e-mail input */

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  height: 50px;
  width: 358px;

  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;

  color: var(--light-txt-cl);
  background: var(--accent-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  outline: none;
}

.ft-btn {
  display: inline-flex;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: 1px solid transparent;
  /* bg */
  background: var(--accent-bt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ft-btn:hover,
.ft-btn:focus {
  background-color: var(--active-bt-cl);
  cursor: pointer;
}

.subscription-icon {
  /* display: flex; */
  align-items: center;
  margin-left: 10px;

  padding: 0;
  fill: var(--light-bt-cl);
}

input[name='mail']::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: var(--phft-txt-cl);
}

/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1000; */

  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-cl);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  width: 528px;
  /* height: 581px; */

  background-color: var(--bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  fill: currentColor;
  background: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-bt-cl);
  cursor: pointer;
}

/**
  |============================
  | Register form
  |============================
*/
.modal-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-txt-cl);
}

.modal-item {
  display: flex;
}

.modal-item:not(:last-child) {
  margin-bottom: 10px;
}

.register-form-group {
  position: relative;
  display: block;
  /* margin-top: 12px; */
  margin-bottom: 20px;
}

.register-form-field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.register-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.register-form-input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;

  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:hover,
.register-form-input:focus,
.register-form-message:hover,
.register-form-message:focus {
  border: 1px solid var(--accent-bt-cl);
}

textarea {
  resize: vertical;
}

.register-form-message {
  display: block;
  width: 448px;
  height: 120px;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-icon {
  position: absolute;
  top: 29px;
  left: 12px;

  fill: var(--heading-txt-cl);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-input:hover + .register-form-icon,
.register-form-input:focus + .register-form-icon {
  fill: var(--accent-bt-cl);
}

textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--ph-txt-cl);
}

.modal-checkbox-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* margin-right: 7px; */
  margin-bottom: 30px;
}

/* .modal-checkbox-input:focus + .modal-checkbox-icons {
  outline: 1px solid rgb(8, 70, 192);
  outline-offset: 1px;
  border-radius: 2px;
} */

.modal-checkbox-icons {
  margin-right: 7px;
  border-radius: 2px;
}

.modal-checkbox-input:checked + .modal-checkbox-icons .modal-checkbox-check {
  opacity: 1;
}

.modal-checkbox-check {
  opacity: 0;
  fill: var(--accent-bt-cl);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-icons .modal-checkbox-empty {
  opacity: 0;
}

.modal-checkbox-empty {
  opacity: 1;

  fill: var(--heading-txt-cl);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-label {
  display: block;

  color: var(--main-txt-cl);
  user-select: none;
}

.modal-checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-txt-cl);
}

.register-btn {
  display: flex;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  color: var(--light-txt-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: 1px solid transparent;
  /* bg */
  background: var(--accent-bt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-btn:hover,
.register-btn:focus {
  background-color: var(--active-bt-cl);
  cursor: pointer;
}
